# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

#############################################
# Common
#############################################
NEXT_PUBLIC_API_URL="http://localhost/api/v1"
NEXT_PUBLIC_ENABLE_MESSAGE_FEEDBACK=false # Enables Langsmith feedback prompting

#############################################
# Authentication
#############################################
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXT_PUBLIC_USE_AUTH=false # Set to true to enable authentication
NEXTAUTH_SECRET= # TODO: Generate a secret and add it here (see above)
NEXTAUTH_URL="http://localhost" # Change to http://localhost:3000 if run locally
NEXTAUTH_URL_INTERNAL="http://nextjs_server:3000" # Change to http://localhost:3000 if run locally
GITHUB_ENTERPRISE_URL="https://github.your.enterprise.com/"

# Next Auth Provider (Github as standard, but can be changed to others e.g. Google)
GITHUB_ID=""
GITHUB_SECRET=""

#############################################
# Database
#############################################
# Update the database URL to point to your database instance and your credentials
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=database
DB_PORT=5432
DB_NAME=fastapi_db
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?pgbouncer=true&connect_timeout=10
DIRECT_DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?connect_timeout=10
